.side-by-side-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);

    .left-column{
        background-size: cover;
    }
        
    .right-column{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $offwhite;
        flex-direction: column;
        .title-wrapper{
            color: $teal;
        }
        .text-wrapper{
            margin: 20px;
        }
    }

    @include input-element();
}