.blog-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .new-blog{
        position: fixed;
        right: 0;
        bottom: 0;
        font-size: 3em;
        cursor: pointer;
        color: $teal;
        margin: 30px;
        transition: 0.5s ease-in-out;

        &:hover{
            color: $dark-teal;
        }
    }

    .content-container{
        display: flex;
        flex-direction: column;
        width: 700px;
        margin-bottom: 30px;
        a{
            text-decoration: none;
            color: $teal;
            transition: 0.5s ease-in-out;

            &:hover{
                color: $dark-teal;
            }
        }

        .action-icon{
            text-align: right;
            cursor: pointer;
            color: $charcoal;
            font-size: 1.2em;
            transition: .5s ease-in-out;
            margin: 25px;

            &:hover{
                color: $warning;
            }
        }

        h1{
            font-size: 1.5em;
        }

        .featured-image-wrapper{
            img{
                margin: 30px 0px;
                width: 100%;
                height: 350px;
                border: solid black 2px;
                border-radius: 5px;
                object-fit: cover;
            }
        }
    }
}