.portfolio-sidebar-list-wrapper{
    .portfolio-item-thumb{
        padding: 21px;

        .portfolio-thumb-img img{
            width: 100%;
        }

        .title-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .title {
                color: $offwhite
            }
            .trash{
                color: $warning;
                font-size: 1.5em;
            }
        }
    }    
}