.portfolio-sidebar-list-wrapper{
    .portfolio-item-thumb{
        padding: 21px;

        .portfolio-thumb-img img{
            width: 100%;
        }

        .title-wrapper{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            .title {
                color: $offwhite;
                font-size: 1.5em;
            }

            .actions{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 10px;
                .action-icon{
                    cursor: pointer;
                    color: $offwhite;
                    font-size: 1.2em;
                    transition: .5s ease-in-out;
    
                    &:hover{
                        color: $warning;
                    }
                }
            }
        }
    }    
}