.portfolio-manager-wrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;

    .left-side{
        height: 100%;
        background-color: $offwhite;
    }

    .right-side{
        height: 100%;
        background-color: $charcoal;
    }
}
