.portfolio-form-wrapper {
    grid-template-columns: 1fr;
    padding: 42px; 
    @include base-grid();

    @include input-element();
    input{
        margin-bottom: 0px;
    }

    .portfolio-manager-image-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        img{
            width: 170px;
            height: 170px;
            object-fit: cover;
            border-radius: 5px;
        }
        .remove-icon{
            font-size: 1.5em;
            cursor: pointer;
            margin: 5px;
            color: $charcoal;
            transition: .5s ease-in-out;
            
            &:hover{
                color: $warning
            }
        }
    }
}