.portfolio-sidebar-list-wrapper{
    .portfolio-item-thumb{
        padding: 21px;

        .portfolio-thumb-img img{
            width: 100%;
        }

        .title {
            color: $offwhite
        }

        i{
            color: $warning;
            font-size: 1.2rem;
        }
    }    
}